@define-color accent_color @accent_bg_color;
@define-color accent_bg_color #3894fc;
@define-color accent_fg_color #ffffff;
@define-color destructive_color #f25858;
@define-color destructive_bg_color #e73e3e;
@define-color destructive_fg_color #ffffff;
@define-color success_color #6aceda;
@define-color success_bg_color #48b9c7;
@define-color success_fg_color #ffffff;
@define-color warning_color #f4cc3a;
@define-color warning_bg_color #ffc800;
@define-color warning_fg_color rgba(0, 0, 0, 0.8);
@define-color error_color #f25858;
@define-color error_bg_color #e73e3e;
@define-color error_fg_color #ffffff;
@define-color window_bg_color #000000;
@define-color window_fg_color #ffffff;
@define-color view_bg_color #000000;
@define-color view_fg_color @window_fg_color;
@define-color headerbar_bg_color @window_bg_color;
@define-color headerbar_fg_color @window_fg_color;
@define-color headerbar_border_color #000000;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.36);
@define-color card_bg_color #121212;
@define-color card_fg_color @window_fg_color;
@define-color card_shade_color rgba(0, 0, 0, 0.36);
@define-color dialog_bg_color @popover_bg_color;
@define-color dialog_fg_color @popover_fg_color;
@define-color popover_bg_color #202020;
@define-color popover_fg_color @view_fg_color;
@define-color shade_color rgba(0,0,0,0.36);
@define-color scrollbar_outline_color rgba(0,0,0,0.5);
@define-color sidebar_bg_color #181818;
@define-color sidebar_backdrop_color #252525;
@define-color secondary_sidebar_bg_color #252525;
@define-color secondary_sidebar_backdrop_color #181818;
@define-color thumbnail_bg_color #121212;
@define-color blue_1 rgb(153,193,241);
@define-color blue_2 rgb(98,160,234);
@define-color blue_3 rgb(94,168,252);
@define-color blue_4 rgb(87,164,251);
@define-color blue_5 rgb(56,148,252);
@define-color green_1 rgb(143,240,164);
@define-color green_2 rgb(143,240,164);
@define-color green_3 rgb(51,209,122);
@define-color green_4 rgb(51,209,122);
@define-color green_5 rgb(46,194,126);
@define-color yellow_1 rgb(249,240,107);
@define-color yellow_2 rgb(248,228,92);
@define-color yellow_3 rgb(246,211,45);
@define-color yellow_4 rgb(245,194,17);
@define-color yellow_5 rgb(255,200,0);
@define-color orange_1 rgb(255,190,111);
@define-color orange_2 rgb(255,180,80);
@define-color orange_3 rgb(255,171,60);
@define-color orange_4 rgb(255,163,40);
@define-color orange_5 rgb(255,146,0);
@define-color red_1 rgb(246,97,81);
@define-color red_2 rgb(232,84,84);
@define-color red_3 rgb(232,73,73);
@define-color red_4 rgb(229,69,69);
@define-color red_5 rgb(231,62,62);
@define-color purple_1 rgb(190,153,235);
@define-color purple_2 rgb(176,130,232);
@define-color purple_3 rgb(174,123,236);
@define-color purple_4 rgb(166,107,239);
@define-color purple_5 rgb(158,95,236);
@define-color brown_1 #cdab8f;
@define-color brown_2 #b5835a;
@define-color brown_3 #986a44;
@define-color brown_4 #865e3c;
@define-color brown_5 #63452c;
@define-color light_1 #ffffff;
@define-color light_2 #f6f5f4;
@define-color light_3 #deddda;
@define-color light_4 #c0bfbc;
@define-color light_5 #9a9996;
@define-color dark_1 rgb(119,118,123);
@define-color dark_2 rgb(94,92,100);
@define-color dark_3 rgb(58,58,58);
@define-color dark_4 rgb(29,29,29);
@define-color dark_5 rgb(0,0,0);
/*
Generated with Gradience

Issues caused by theming should be reported to Gradience repository, and not to upstream

https://github.com/GradienceTeam/Gradience
*/

/*
Generated with Gradience

Issues caused by theming should be reported to Gradience repository, and not to upstream

https://github.com/GradienceTeam/Gradience
*/

/* GTK4 */

windowcontrols > button { /* GTK4 */
  color: transparent;
  min-width: 2px;
  min-height: 2px;
  border-radius: 100%;
  padding: 0;
  margin: 0 5px;
}

windowcontrols > button > image {
  padding: 0;
}

button.titlebutton.close,
windowcontrols > button.close {
  background-color: #505050;
}

button.titlebutton.close:hover,
windowcontrols > button.close:hover {
  opacity: 0.8;
}

button.titlebutton.maximize,
windowcontrols > button.maximize {
  background-color: #505050;
}

button.titlebutton.maximize:hover,
windowcontrols > button.maximize:hover {
  opacity: 0.8;
}

button.titlebutton.minimize,
windowcontrols > button.minimize {
  background-color: #505050;
}

button.titlebutton.minimize:hover,
windowcontrols > button.minimize:hover {
  opacity: 0.8;
}
.navigation-sidebar {
background-color: #000000;
}

.navigation-sidebar {
background-color: #000000;
}
